*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif;
    overflow-x: hidden;
    
    /* background-color: rgb(231, 231, 238); */
}
nav{
    position: fixed;
    width: 100%;
    z-index: 1;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 4rem;
    line-height: 4rem;
}
nav .logo{
    font-size: 1.7rem;
    font-weight: 700;
    font-family: sans-serif;
    margin-left: 8rem;
}
nav .logo span{
    color: rgb(44, 112, 230);
}
nav ul{
    text-transform: capitalize;
    
}
nav ul li{
    display: inline-block;
    padding: 0 1.3rem;
    color: gray;
}
nav a{
    text-decoration: none;
    color: gray;
}
.cart, .login{
    width: 6rem;
    height: 2.3rem;
    background: transparent;
    border-radius: 30px;
    color: rgb(44, 112, 230);
    font-weight: 600;
    border: 2px solid rgb(44, 112, 230);
}
.login{
    margin-right: 9rem;
}
header{
    background-color: black;
    color: white;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.header-parent{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
header img{
    width: 75%;
    position: relative;
    left: 7rem;
    margin-top: 6rem;
}
header h1{
    font-size: 3.7rem;
    width: 40%;
    margin-left: 8rem;
    margin-top: 13rem;
    font-weight: 600;
    line-height: 1;
    text-align: left;
}
header p{
    width: 70%;
    margin-left: 8.2rem;
    margin-top: 1.8rem;
    line-height: 1.5;
    text-align: left;
    font-size: 1.2rem;
    letter-spacing: 2;
}
.shop-now-btn, .see-more-btn{
    width: 11rem;
    height: 3rem;
    border-radius: 40px;
    background-color: rgb(10, 74, 185);
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-top: 2rem;
    /* margin-bottom: 16rem; */
}
.shop-now-btn{
    margin-left: 8.3rem;
}
.see-more-btn{
    margin-left: 3rem;
}
.product-highlights-containeer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-highlights-containeer img{
    width: 50%;
    margin-right: 3rem;
}
.product-highlights-containeer p{
    width: 70%;
    line-height: 1.3;
    color: rgb(70, 69, 69);
    /* margin-left: 20rem; */
}
.sports, .battery, .gps, .light{
    margin-bottom: 1.5rem;
}
.sports, .battery, .notification{
    margin-left: 6rem;
}
.product-highlights h3{
    text-transform: uppercase;
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 300;
}
.features-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.features-container p{
    width: 10rem;
}
.features-container img{
    width: 40%;
}
.features-container ul{
    width: 30%;
    text-transform: capitalize;
    line-height: 2.1;
    font-size: 1.3rem;
}
.features{
    margin-top: 7rem;
}
.features h3{
    text-align: center;
    font-size: 2rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
}
.bi-cpu-fill{
    width: 50%;
}
.product-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.product-1, .product-2, .product-3{
    width: 19rem;
    height: 19rem;
    background-color: rgba(244, 244, 251, 0.912);
    border: 3px solid rgb(78, 187, 255);
    border-radius: 40px;
    text-align: center;
}
.inside-product-flex{
    margin-top: 0.3rem;
}
.inside-product-flex span:nth-child(3){
    background-color: gold;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 40px;
}
.inside-product-flex span:nth-child(4){
    background-color: red;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 10px;
    color: white;
}
.inside-product-flex label{
    font-size: 1rem;
    font-weight: 700;
    font-family: sans-serif;
}
.inside-product-flex span:nth-child(2){
    color: rgb(44, 112, 230);
}
.product-1 h4, .product-2 h4, .product-3 h4{
    margin-top: 2rem;
    font-size: 1.3rem;
    color: rgb(91, 91, 91);
}
.product-1 p, .product-2  p, .product-3 p{
    text-align: left;
    width: 80%;
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 1.1rem;
    line-height: 1.4;
    color: rgb(91, 91, 91);
}
.products-buy-btn, .products-cart-btn{
    width: 6rem;
    height: 2.5rem;
    font-size: 1.2rem;
    text-transform: capitalize;
    background-color: rgb(10, 74, 185);
    color: white;
    border: none;
    border-radius: 40px;
    margin-top: 1rem;
    cursor: pointer;
}
.bi-pc-display, .bi-battery-full, .bi-bell-fill, .bi-compass-fill, .bi-lightning-charge-fill, .bi-compass-fill{
    font-size: 1.5rem;
}
.products{
    margin-top: 10rem;
}
.products h3{
    font-size: 2.2rem;
    margin-top: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
}
.comparison-parent .comparison-child{
    /* display: flex; */
   margin-left: auto;
   margin-right: auto;
   display: block;
}
.comparsion-parent span{
    margin: 1rem;
    border-collapse: collapse;
}
@media screen and (max-width:600px){
    body{
        overflow-x: hidden;
    }
    .header-parent{
        flex-direction: column-reverse;
    }
    nav{
        z-index: 1;
    }
    nav .logo{
        font-size: 1.5rem;
        font-weight: 700;
        font-family: sans-serif;
        margin-left: 1rem;
    }
    nav ul li, nav button{
        display: none;
    }
    header{
        height: inherit;
    }
    header img{
        width: 100%;
        left: 0;
        /* text-align: center; */
        margin-left: auto;
        margin-right: auto;
        /* display: block; */
    }
    header h1{
        font-size: 3rem;
        width: 80%;
        font-weight: 700;
         margin-left: auto;
        margin-right: auto;
        display: block; 
        margin-right: 2rem;
        text-align: center;
        margin-top: 1rem;
        font-weight: 400;
        line-height: 1;
    }
    header p{
        width: 80%;
        margin-top: 1.8rem;
        line-height: 1.5;
        font-size: 1rem;
        margin-left: 0rem;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
    }
    .product-highlights h3{
        text-transform: uppercase;
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 2rem;
        font-weight: 300;
    }
    .shop-now-btn{
        margin-left: 1rem;
    }
    .see-more-btn{
        margin-left: 0.4rem;
        margin-bottom: 2rem;
        /* margin-right: 0.4rem; */
    }
    .shop-now-btn, .see-more-btn{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        border-radius: 40px;
        background-color: rgb(10, 74, 185);
        border: none;
        color: white;
        text-transform: uppercase;
        font-size: 0.9rem;
        margin-top: 2rem;
    }
    .product-highlights{
        margin-top: 0.2rem;
    }
    .product-highlights-containeer{
        flex-direction: column;
    }
    .product-highlights-containeer img{
        width: 80%;
    }
    .product-highlights-containeer p{
        width: 90%;
        margin-left: 1.5rem;
    }
    .notification{
        margin-bottom: 2rem;
    }
    .gps{
        margin-top: 2rem;
    }
    .sports, .battery{
        margin-bottom: 1rem;
    }
    .features-container{
        flex-direction: column-reverse;
        justify-content: inherit;
        align-items: inherit;
        gap: 3rem;
    }
    .features-container p{
        width: 10rem;
    }
    .features-container img{
        width: 90%;
    }
    .features-container ul{
        width: 80%;
        text-transform: capitalize;
        line-height: 2.3;
        font-size: 1.1rem;
        margin-left: 3rem;
    }
    .features{
        margin-top: 7rem;
    }
    .features h3{
        text-align: center;
        font-size: 2rem;
        margin-top: 1rem;
        width: 100%;
        margin-bottom: 2rem;
    }
    .product-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0rem;
    }
    .product-1, .product-2, .product-3{
        width: 80%;
        height: inherit;
        background-color: rgba(244, 244, 251, 0.912);
        border: 3px solid rgb(78, 187, 255);
        border-radius: 40px;
        text-align: center;
        margin-bottom: 3rem;
    }
    .inside-product-flex{
        width: 100%;
    }
    .products-buy-btn, .products-cart-btn{
        margin-bottom: 1rem;
    }
    .inside-product-flex span:nth-child(3){
        background-color: gold;
        padding: 0.3rem 0.3rem 0.3rem 0.3rem;
        border-radius: 40px;
    }
    .inside-product-flex span:nth-child(4){
        background-color: red;
        padding: 0.3rem 0.3rem 0.3rem 0.3rem;
        border-radius: 10px;
        color: white;
    }
    .product-1 label{
        font-size: 0.8rem;
    }
    .product-1 p, .product-2  p, .product-3 p{
        text-align: left;
        width: 90%;
        margin-top: 1rem;
        margin-left: 1rem;
        font-size: 1.1rem;
        line-height: 1.4;
      
    
}
.products{
    margin-top: 5rem;
}
.products h3{
    font-size: 2.2rem;
    margin-top: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

}