*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    outline: 0;
}
html{
    scroll-behavior: smooth;
    width:100%; 
    height:100%;
}
body{
    font-family: sans-serif;
    overflow-x: hidden;
    width: 100%;
    
    /* background-color: rgb(231, 231, 238); */
}
nav{
    position: fixed;
    width: 100%;
    z-index: 1;
    /* animation: movedown 1s linear 1;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    visibility: hidden; */
}
#check{
    display: none;
}
.checkbtn{
    display: none;
}
.nav-container{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    height: 4rem;
    line-height: 4rem;
}

nav .logo{
    font-size: 1.7rem;
    font-weight: 700;
    font-family: sans-serif;
    margin-left: 3rem;
    /* margin-right: 4rem; */
        /* animation: movedown 1s linear 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    visibility: hidden; */
}
@keyframes movedown{
    0%{
        transform: translateY(-100px); 
        visibility:visible;
    }
    100%{
        transform: translateY(0); 
        visibility: visible;
    }
}
nav .logo span{
    color: rgb(44, 112, 230);
}
nav ul{
    text-transform: capitalize;
    
    
}
nav ul li a:hover{
  color: black;
  transition: .4s all ease-in;
}
nav ul li{
    display: inline-block;
    padding: 0 1.3rem;
    color: gray;
    /* animation: movedown 1s linear 1;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    visibility: hidden; */
}
nav a{
    text-decoration: none;
    color: gray;
}
.cart, .login{
    width: 6rem;
    height: 2.3rem;
    background: transparent;
    border-radius: 30px;
    color: rgb(44, 112, 230);
    font-weight: 600;
    border: 2px solid rgb(44, 112, 230);
    cursor: pointer;
   
    /* animation: movedown 1s linear 1;
    animation-fill-mode: forwards;
    animation-delay: 4s;
    visibility: hidden; */
}
.cart:hover, .login:hover{
    background-color: rgb(0, 42, 113);
    color: white;
    transition: all ease-in .5s;
    cursor: pointer;
  
}
.login{
    margin-right: 9rem;
}
.bi-card-checklist{
    font-size: 1.2rem;
}
header{
    background-color: black;
    color: white;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.header-parent{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
header img{
    width: 75%;
    position: relative;
    left: 7rem;
    margin-top: 6rem;
    /* animation: zoomin 1s linear 1;
    animation-fill-mode: forwards;
    animation-delay: 3ms;
    visibility: hidden; */
}
@keyframes zoomin{
    0%{
       transform: scale(0.5);
        visibility:visible;
    }
    100%{
        transform: scale(1); 
        visibility: visible;
    }
}
header h1{
    font-size: 3.7rem;
    width: 40%;
    margin-left: 8rem;
    margin-top: 13rem;
    font-weight: 600;
    line-height: 1;
    text-align: left;
    /* animation: moveright 1s linear 1;
    animation-fill-mode: forwards;
    animation-delay: 4s;
    visibility: hidden; */
}

header p{
    width: 70%;
    margin-left: 8.2rem;
    margin-top: 1.8rem;
    line-height: 1.5;
    text-align: left;
    font-size: 1.2rem;
    letter-spacing: 2;
    /* animation: moveright 1s linear 1;
    animation-fill-mode: forwards;
    animation-delay: 4s;
    visibility: hidden; */
}
@keyframes moveright{
    0%{
        transform: translateX(-100px); 
        visibility:visible;
    }
    100%{
        transform: translateX(0); 
        visibility: visible;
    }
}
.shop-now-btn, .see-more-btn{
    width: 11rem;
    height: 3rem;
    border-radius: 40px;
    background-color: rgb(10, 74, 185);
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-top: 2rem;
    cursor: pointer;
    /* margin-bottom: 16rem; */
    /* animation: moveup 1s linear 1;
    animation-fill-mode: forwards;
    animation-delay: 6s;
    visibility: hidden; */
}
.shop-now-btn:hover, .see-more-btn:hover{
    background-color: rgb(6, 49, 124);
    transition: all .4s ease-in-out;
}
@keyframes moveup{
    0%{
        transform: translateY(100px); 
        visibility:visible;
    }
    100%{
        transform: translateY(0); 
        visibility: visible;
    }
}
.shop-now-btn{
    margin-left: 8.3rem;
}
.see-more-btn{
    margin-left: 3rem;
}
.product-highlights-containeer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-highlights-containeer img{
    width: 50%;
    margin-right: 3rem;
}
.product-highlights-containeer p{
    width: 70%;
    line-height: 1.3;
    color: rgb(70, 69, 69);
    /* margin-left: 20rem; */
}
.sports, .battery, .gps, .light{
    margin-bottom: 1.5rem;
}
.sports, .battery, .notification{
    margin-left: 6rem;
}
.product-highlights h3{
    text-transform: uppercase;
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 300;
}
.features-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.features-container p{
    width: 10rem;
}
.features-container img{
    width: 40%;
}
.features-container ul{
    width: 30%;
    text-transform: capitalize;
    line-height: 2.1;
    font-size: 1.3rem;
}
.features{
    margin-top: 7rem;
}
.features h3{
    text-align: center;
    font-size: 2rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
}
.bi-cpu-fill{
    width: 50%;
}
.product-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.product-1, .product-2, .product-3{
    width: 19rem;
    height: 19rem;
    background-color: rgba(244, 244, 251, 0.912);
    border: 3px solid rgb(78, 187, 255);
    border-radius: 40px;
    text-align: center;
}
.inside-product-flex{
    margin-top: 0.3rem;
}
.inside-product-flex span:nth-child(3){
    background-color: gold;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 40px;
}
.inside-product-flex span:nth-child(4){
    background-color: red;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 10px;
    color: white;
}
.inside-product-flex label{
    font-size: 1rem;
    font-weight: 700;
    font-family: sans-serif;
}
.inside-product-flex span:nth-child(2){
    color: rgb(44, 112, 230);
}
.product-1 h4, .product-2 h4, .product-3 h4{
    margin-top: 2rem;
    font-size: 1.3rem;
    color: rgb(91, 91, 91);
}
.product-1 p, .product-2  p, .product-3 p{
    text-align: left;
    width: 80%;
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 1.1rem;
    line-height: 1.4;
    color: rgb(91, 91, 91);
}
.products-buy-btn, .products-cart-btn{
    width: 6rem;
    height: 2.5rem;
    font-size: 1.2rem;
    text-transform: capitalize;
    background-color: rgb(10, 74, 185);
    color: white;
    border: none;
    border-radius: 40px;
    margin-top: 1rem;
    cursor: pointer;
}
.bi-pc-display, .bi-battery-full, .bi-bell-fill, .bi-compass-fill, .bi-lightning-charge-fill, .bi-compass-fill{
    font-size: 1.5rem;
}
.products{
    margin-top: 10rem;
}
.products h3{
    font-size: 2.2rem;
    margin-top: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 5rem;
    text-transform: uppercase;
}
.comparison-parent .comparison-child{
    /* display: flex; */
   margin-left: auto;
   margin-right: auto;
   display: block;
}
.comparsion-parent span{
    margin: 1rem;
    border-collapse: collapse;
}
footer{
    background-color: rgb(146, 210, 250);
    padding: 4rem;
}
.footer-container{
    display: flex;
    justify-content: space-around;
    text-align: initial;
}
footer ul{
    line-height: 2.2;
    text-transform: capitalize;
    list-style: none;
}
footer ul li{
    font-size: 1rem;
    color: rgb(36, 36, 36);
}
.footer-socials{
    font-size: 1.4rem;
    color: rgb(44, 112, 230);
}
.footer-socials h3{
    font-size: 1.4rem;
    color: rgb(62, 62, 62);
    margin-bottom: 2rem;
}
footer .bi-facebook, .bi-linkedin, .bi-twitter, .bi-youtube, .bi-google{
    border: 2px solid rgb(44, 112, 230);
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem ;
}
.icons p{
    margin-top: 0.8rem;
}
footer a{
    text-decoration: none;
    color: initial;
}
footer h3{
    color: rgb(62, 62, 62);
    margin-bottom: 1rem;
    font-size: 1.4rem;
}
footer a.mail-adress{
text-decoration: none;
color: rgb(44, 112, 230);
font-weight: 560;
}
.bi-geo-alt-fill, .bi-telephone-fill, .bi-whatsapp, .bi-envelope-fill{
    font-size: 1.4rem;
}
#email-input{
    width: 14.7rem;
    height: 3rem;
    border: 2px solid rgb(44, 112, 230);
    border-radius: 40px 0 0 40px;
    margin-top: 1.3rem;
}
.footer-submit-btn{
    border-radius: 0px 40px 40px 0;
    width: 7.4rem;
    height: 3rem;
    border: 2px solid rgb(44, 112, 230);
    background-color: transparent;
    color: rgb(44, 112, 230);
    font-size: 1.1rem;
    position: relative;
    right: 0.3rem;
    top: 0.1rem;
    font-weight: 500;
}
.footer-newsletter p{
    font-size: 1.1rem;
}
.copyright{
    background-color: black;
    color: white;
    text-align: center;
    height: 1.5rem;
    font-size: 0.8rem;
}
.copyright p{
    line-height: 1.5rem;
}
.customer-child1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.customer-child1 p{
    width: 50%;
    letter-spacing: 3;
}
.customer-container h6{
    position: relative;
    left: 57rem;
    font-size: 1.4rem;
    margin-bottom: 3rem;
    margin-top: 0.7rem;
    font-weight: 500;
}
.quote1, .quote2{
    width: 2%;
}
.customer-pic{
    width: 12%;
    border-radius: 50%;
    border: 7px solid rgb(237, 237, 246);
}
.customer-container{
    margin-top: 3rem;
}
.slider{
  width: 100%;
  height: 500px;
  overflow: hidden;  
  margin-bottom: 3rem; 
}
.slider h3{
    font-size: 2.2rem;
    text-align: center;
    margin-top: 9rem;
}
figure{
    position: relative;
    left: 0;
    width: 400%;
    animation: 20s slide infinite;
}
@keyframes slide{
    0%{
        left: 0;
    }
    10%{
        left: 0;
    }
    20%{
        left: -100%;
    }
    30%{
        left: -100%;
    }
    40%{
        left: -200%;
    }
    50%{
        left: -200%;
    }
    55%{
        left: -300%;
    }
    65%{
        left: -300%;
    }
    66%{
        left: -300%;
    }
    74%{
        left: -300%;
    }
     75%{
        left: -100%;
    }
     85%{
        left: -100%;
    }
     90%{
        left: 0;
    }
     100%{
        left: 0;
    }
}
.slide{
    position: relative;
    width: 25%;
    float: left;

}
.slide h1{
    /* position: absolute;
    font-size: 3em;
    width: 100%;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */
}
.slide img{
    /* width: 100%;
    height: 500px ; */
}
@media screen and (max-width:600px){
    html{
         overflow-x: hidden;
       width: 100%;
       height: 100%;
    }
    body{}
    .header-parent{
        flex-direction: column-reverse;
    }
    
 nav .bi-list{
 display: inline
}
    nav{
        z-index: 1;
        position: fixed;
    }
    nav .logo{
        font-size: 1.4rem;
        font-weight: 700;
        font-family: sans-serif;
        margin-left: 0.7rem;
      
    }
    nav ul li, nav button{
        display: none;
    }
    header{
        height: initial;
    }
    header img{
        width: 100%;
        left: 0;
        /* text-align: center; */
        margin-left: auto;
        margin-right: auto;
        /* display: block; */
        
    }
   
    header h1{
        font-size: 3rem;
        width: 80%;
        font-weight: 700;
         margin-left: auto;
        margin-right: auto;
        display: block; 
        margin-right: 2rem;
        text-align: center;
        margin-top: 1rem;
        font-weight: 400;
        line-height: 1;
        /* animation: zoomin 1s linear 1;
        animation-fill-mode: forwards;
        animation-delay: 5.5s;
        visibility: hidden; */
    }
    header p{
        width: 80%;
        margin-top: 1.8rem;
        line-height: 1.5;
        font-size: 1rem;
        margin-left: 0rem;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
    }
    .shop-now-btn:hover, .see-more-btn:hover{
        background-color: rgb(6, 49, 124);
        transition: all .4s ease-in-out;
    
    }
    .product-highlights h3{
        text-transform: uppercase;
        text-align: center;
        margin-top: 4rem;
        margin-bottom: 2rem;
        font-size: 2rem;
        font-weight: 300;
    }
    .shop-now-btn{
        margin-left: 1rem;
    }
    .see-more-btn{
        margin-left: 0.4rem;
        margin-bottom: 2rem;
        /* margin-right: 0.4rem; */
    }
    .shop-now-btn, .see-more-btn{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        border-radius: 40px;
        background-color: rgb(10, 74, 185);
        border: none;
        color: white;
        text-transform: uppercase;
        font-size: 1rem;
        margin-top: 2rem;
    }
    .product-highlights{
        margin-top: 0.2rem;
    }
    .product-highlights-containeer{
        flex-direction: column;
    }
    .product-highlights-containeer img{
        width: 80%;
    }
    .product-highlights-containeer p{
        width: 90%;
        margin-left: 1.5rem;
    }
    .notification{
        margin-bottom: 2rem;
    }
    .gps{
        margin-top: 2rem;
    }
    .sports, .battery{
        margin-bottom: 1rem;
    }
    .features-container{
        flex-direction: column-reverse;
        justify-content: inherit;
        align-items: inherit;
        gap: 3rem;
    }
    .features-container p{
        width: 10rem;
        
    }
    .features-container img{
        width: 90%;
    }
    .features-container ul{
        width: 80%;
        text-transform: capitalize;
        line-height: 2.3;
        font-size: 1.1rem;
        margin-left: 3rem;
    }
    .features{
        margin-top: 7rem;
    }
    .features h3{
        text-align: center;
        font-size: 2rem;
        margin-top: 1rem;
        width: 100%;
        margin-bottom: 2rem;
        margin-top: 4rem;
    }
    .product-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0rem;
    }
    .product-1, .product-2, .product-3{
        width: 80%;
        height: inherit;
        background-color: rgba(244, 244, 251, 0.912);
        border: 3px solid rgb(78, 187, 255);
        border-radius: 40px;
        text-align: center;
        margin-bottom: 3rem;
    }
    .inside-product-flex{
        width: 100%;
    }
    .products-buy-btn, .products-cart-btn{
        margin-bottom: 1rem;
    }
    .inside-product-flex span:nth-child(3){
        background-color: gold;
        padding: 0.3rem 0.3rem 0.3rem 0.3rem;
        border-radius: 40px;
    }
    .inside-product-flex span:nth-child(4){
        background-color: red;
        padding: 0.3rem 0.3rem 0.3rem 0.3rem;
        border-radius: 10px;
        color: white;
    }
    .product-1 label{
        font-size: 0.8rem;
    }
    .product-1 p, .product-2  p, .product-3 p{
        text-align: center;
        width: 100%;
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
        display: block;
        font-size: 1.1rem;
        line-height: 1.4;
      
    
}
.products{
    margin-top: 5rem;
}
.products h3{
    font-size: 2.2rem;
    margin-top: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 5rem;
    text-transform: uppercase;
}
footer{
    margin-top: 4rem;
}
.footer-container{
   flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
footer ul {
    margin-bottom: 2rem;
    font-size: 0.6rem;
    font-weight: 500;
}

.footer-newsletter{
    margin-top: 2rem;
}
footer .bi-facebook, .bi-linkedin, .bi-twitter, .bi-youtube, .bi-google{
    border: 2px solid rgb(44, 112, 230);
    padding: 0.3rem 0.3rem;
    border-radius: 10px;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 2rem;
}
footer h3{
    color: rgb(62, 62, 62);
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem ;
}
.icons p{
    margin-top: 0.8rem;
}
.contact ul li{
    line-height: 3;
}
.footer-socials h3{
    font-size: 1.2rem;
    color: rgb(62, 62, 62);
    margin-bottom: 0.5rem;
    display: block;
}
#email-input{
    width: 95%;
    height: 2rem;
    border: 2px solid rgb(44, 112, 230);
    border-radius: 6px ;
    margin-top: 1.4rem;
    position: relative;
    top: 0.1rem;
}
.footer-submit-btn{
    border-radius: 0px ;
    width: 45%;
    height: 2rem;
    border: 2px solid rgb(44, 112, 230);
    background-color: transparent;
    color: rgb(44, 112, 230);
    font-size: 0.8rem;
    position: relative;
    right: 0.3rem;
    bottom: 0rem;
    font-weight: 600;
    margin-top: 0.6rem;
    cursor: pointer;
}
.footer-submit-btn:hover{
    background-color: rgb(10, 74, 185);
    color: white;
    transition: all .4s ease-in;
    
}
#contact h3{
    margin-top: 3rem;
}
.copyright{
    background-color: black;
    color: white;
    text-align: center;
    height: 1.5rem;
    font-size: 0.6rem;
}
.quick-links ul{
    line-height: 3.5rem;
}


.checkbtn{
    display: block;
     color: black;
     margin-left: 36%;
     height: 0;
     float: right;
     margin-top: 0.9rem;
     cursor: pointer;
     
 }
 .bi-list{
    width: 1.8rem;
 }
 .nav-container{
    display: flex;
     flex-direction: row;
     justify-content: space-between;
 }
 .nav-container ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white;
    top: 4rem;
    left: 100%;
    text-align: center;
    transition: all .5s;
    margin-right: auto;
    margin-left: auto;

}
nav ul li{
    display: block;
    margin: 3.73rem 0;
    padding: 0;
    margin-top: 5.2rem;
    line-height: 1.6rem;
    text-transform: uppercase;
}
 nav ul li a{
     font-size: 1rem;
     color: black;
     font-weight: 535;
 }
 a:hover,a.active{
     background: none;
     color: gray;
 }
 #check:checked~ ul {
     left: 0;
 }

.customer-child1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.customer-child1 p{
    width: 90%;
    margin-left: 0.8rem;
    letter-spacing: 3;
    position: relative;
    bottom: 2.4rem
}
.customer-container h6{
    position: relative;
    left: 0rem; 
    bottom: 2rem; 
    font-size: 1.4rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    margin-top: 0;
    font-weight: 500;
    text-align: right;
}
.quote1, .quote2{
    width: 4%;
}
.customer-pic{
    width: 40%;
    position: relative;
    top: 4rem;
    margin-bottom: 5rem;
}
.customer-container{
    margin-top: 0rem;
}

.slider{
  width: 100%;
  height: 34.375rem;
  overflow: hidden;  
  margin-bottom: 0rem; 
  margin-top: 5rem;
}
.slider h3{
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
}
.customer-container h6{
    margin-bottom: 4rem;
}
.footer-newsletter .bi-arrow-right{
    display: none;
}
 } 





